/* Main self css */

a {
    text-decoration: none;
}

.showavatar {
    width: 10em;
}

.avatar {
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    /*border: 1px solid black;*/
}

.headercustom {
    background-color: #99b396;
}

.btn-custom {
    background-color: #4b6948;
    border: 1px solid #3f583d;
}

.btn-custom:hover {
    background-color: #3f5a3c;
    border: 1px solid #3f583d;
}

.custom-title {
    text-align: center;
}

.grid {
    margin: 0 auto;
}

.post-img {
    width: 40em;
    height: 30em;
    object-fit: cover;
}

.custom-card {
    width: 25rem;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
}

.custom-card:hover {
    transform: scale(1.1);
}

.avatar-user-detail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-names {
    width: 10vw;
}

/* Bootstrap custom */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #688f64;
    border-color: #435e41;
}

.page-link {
    z-index: 2;
    color: #435e41;
}

.page-link:hover {
    z-index: 2;
    color: #435e41;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.cercador-custom {
    background-color: #d4dfd3;
}

/* Telefon */

@media (max-width: 950px) {
    .post {
        width: 25em;
    }
}
