/* Main self css */

a {
    text-decoration: none;
}

.showavatar {
    width: 10em;
}

.avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    /*border: 1px solid black;*/
}

.headercustom {
    background-color: #99b396;
}

.btn-custom {
    background-color: #4b6948;
    border: 1px solid #3f583d;
}

.btn-custom:hover {
    background-color: #3f5a3c;
    border: 1px solid #3f583d;
}

.custom-title {
    text-align: center;
}

.grid {
    margin: 0 auto;
}

.post {
    width: 35rem;
}

/* Bootstrap custom */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #688f64;
    border-color: #435e41;
}

.page-link {
    z-index: 2;
    color: #435e41;
}

.page-link:hover {
    z-index: 2;
    color: #435e41;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/* Telefon */

@media (max-width: 950px) {
    .post {
        width: 33em;
    }
}
